@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

.list-horizontal {
    display: contents;
    flex-direction: row;
    padding: 0;
    list-style: none;
    margin: 0;
    overflow-x: auto;
    gap: 8px;  // Use gap to control space between items
  
    .mat-list-item {
      display: flex;
      align-items: center;
      white-space: nowrap;  // Prevent text wrapping
  
      p {
        margin: 0;
        padding: 0 8px;  // Add padding directly to the <p> elements for spacing
      }
    }
  }

  .mat-toolbar.mat-primary {
    --mat-toolbar-container-background-color: #2e31be;
    --mat-toolbar-container-text-color: white;
}

  .toolbar {
    height: 60px;
    font-size: xx-large;
  }

  .logo {
    height: 40px;  // Adjust height as needed
    width: auto;   // Maintain aspect ratio
    margin-left: auto;  // Push the image to the right
  }

//   .ion-text-right {
//     float:right
//   }

//   .image-text {
//     display: flex;  // Ensures the columns are displayed side by side
//     align-items: center;  // Vertically center-align items
//   }
  
//   ion-text.ion-text-right {
//     text-align: right;  // Right-align the text
//   }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: lightslategray;
    color: white;
    text-align: center;
    right:0px;
    padding-top: 10px;
 }

 .active-list-item {
    color: red !important; /* Note: You could also use a custom theme */
  }

 